<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${msg}">
		<span th:text="${msg}"></span>
	</div>
	
	<div>
		<span><a href="/">Upload More</a></span>
	</div>
</body>
</html>